.btn {
    position: relative;
    display: inline-block;
    font-weight: $font-weight-base;
    line-height: $btn-line-height;
    color: $body-color;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    outline: 0;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    @include button-size( $btn-padding-y,  $btn-padding-x,  $btn-font-size,  $border-radius);
    border: $btn-border-width solid transparent;
    box-shadow: $btn-box-shadow;
    cursor: pointer;
    transition: $btn-transition;
    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: $btn-disabled-opacity;
      box-shadow: none;
      > * {
        pointer-events: none;
      }
    }
}
.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
  font-weight: $font-weight-bold;
}
.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  font-weight: $font-weight-light;
}

.btn-primary {
  @include button-style($primary, $white, $primary-hover)
}
.btn-danger {
  @include button-style($danger, $white, $danger-hover)
}

.btn-default {
  @include button-style($default, $black, $default-hover)
}

.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration; 
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}